*.css linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false  
*.json linguist-detectable=false
.gitignore linguist-detectable=false
*.plist linguist-detectable=false