# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

build/bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

go.work

.env

results

wailsjs
dist
node_modules

resource.syso

.DS_Store

*.db
*.log

.astro

.vite/

CFN Tracker*
cfn-tracker*