@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background: #1e283c;
}

stat-list {
  font-family: "Bebas Neue", Helvetica;
  font-size: 2rem;

  --stat-title-color: #66e6ff;
  --stat-value-color: #fff;
  --stat-bg-color: transparent;
}

stat-list::part(list-item) {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  white-space: nowrap;
  margin-bottom: 8px;
  clip-path: polygon(5% 5%, 100% 0%, 95% 95%, 0% 100%);
}

stat-list::part(list-title),
stat-list::part(list-value) {
  padding: 20px 25px;
  width: 100%;
}

stat-list::part(list-title) {
  background: #25394b;
  text-align: right;
}

stat-list::part(list-value) {
  background: #161e2d;
  text-align: left;
}
