body {
  background: rgb(46, 11, 99);
  color: white;
  white-space: nowrap;
  font-family: Verdana, sans-serif;
}

/* Stat list container */
.stats {
  display: grid;
  gap: 8px;
  max-width: 300px;
  width: 100%;
}

/* Stat container */
.stats > div {
  display: flex;
  justify-content: space-between;
  background: rgb(248 250 252 / 0.05);
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* Stat title (e.g. Wins, Losses, Win Rate, LP Gain ) */
.stats dt {
  
}

/* Stat value */
.stats dd {
  font-weight: bold;
}