---
import { Content } from '../content/guide.mdx';
import Layout from '../layouts/Layout.astro';
---
<script>
  import { gsap, Power3 } from "../lib/gsap";
  gsap.from("#guide > *", {
    autoAlpha: 0,
    translateY: 20,
    duration: .75,
    ease: Power3.easeInOut,
    stagger: 0.125,
  });
</script>

<Layout title="CFN Tracker - Guide">
  <div id="guide" class="prose lg:prose-lg prose-invert mx-auto px-4 mt-20">
    <Content />
  </div>
</Layout>

<style lang="sass">
  body 
    background: linear-gradient(0deg, rgb(25 16 34) 0%, #000 100%)
</style>