---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import World from "../components/World.astro";
---

<Layout title="Welcome to Astro.">
  <header class="text-center pt-4 px-3">
    <img
      src="https://raw.githubusercontent.com/GreenSoap/cfn-tracker/gui/build/appicon.png"
      class="w-full max-w-[260px] mx-auto"
    />
    <h1>
      <span class="">CFN</span> <span class='text-gradient'>Tracker</span>
    </h1>
    <h2 class="text-xl mt-8 mb-12">
      Track the live ranked match data of any Street Fighter account 
    </h2>
  </header>

  <main class="pb-8">
    <div class="fixed bottom-0 w-full py-4 bg-[rgba(0,0,0,.25)] backdrop-blur text-center">
      If you find the tool useful for your streams or otherwise, consider <a
        href="https://ko-fi.com/greensoap"
        class="text-[#8ee5ff] hover:underline"
        target="_blank">buying me a coffee ☕</a
      >
    </div>
    <section class="grid gap-6 mt-6 max-w-[40ch] mx-auto">
      <a
        href="https://github.com/GreenSoap/cfn-tracker/releases/download/v2.0.0/CFN_Tracker.exe"
        class="link-card windows flex gap-2 justify-between items-center rounded-full px-6 py-4 text-2xl w-full"
      >
        <Icon name="mdi:microsoft-windows" class="w-8 h-8" />
        <span>Download for Windows</span>
      </a>
      <a
        href="https://github.com/GreenSoap/cfn-tracker/releases/download/v2.0.0/cfn_tracker_macos_amd64"
        class="link-card mac flex gap-2 justify-between items-center rounded-full px-6 py-4 text-2xl w-full"
      >
        <Icon name="mdi:apple" class="w-8 h-8" />
        <span>Download for Mac</span>
      </a>

      <div class="pt-6 justify-center flex gap-11 flex-wrap">
        <a
          class="text-lg flex gap-4 hover:underline"
          href="https://github.com/GreenSoap/cfn-tracker/"
          target="_blank"><Icon name="mdi:github" class="w-8 h-8" /> Source</a
        >
        <a
          class="flex gap-4 hover:underline"
          href="https://twitter.com/greensoap_"
          target="_blank"
          ><Icon name="mdi:twitter" class="w-8 h-8 text-[#8ee5ff]" /> greensoap_</a
        >
      </div>
    </section>

    <section class="pb-12">
      <h2 class="text-center text-3xl mt-32 mb-16">Screenshots</h2>
      <div class="flex flex-wrap gap-4 justify-around">
        <img
          class="w-full max-w-[750px]"
          src="https://raw.githubusercontent.com/GreenSoap/cfn-tracker/gui/showcase/tracking.jpg"
        />
        <img
          class="w-full max-w-[750px]"
          src="https://raw.githubusercontent.com/GreenSoap/cfn-tracker/gui/showcase/log.jpg"
        />
      </div>
    </section>
  </main>
  <World />
</Layout>

<style>
  main {
    margin: auto;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .text-gradient {
    background-image: linear-gradient(45deg, #ff938e, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card {
    backdrop-filter: blur(5px);
    background-image: var(--accent-gradient);
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }

  .windows {
    --accent-gradient: linear-gradient(
      45deg,
      rgb(124, 58, 237),
      #627ada 30%,
      rgba(115, 115, 115, 0.34) 60%
    );
  }

  .mac {
    --accent-gradient: linear-gradient(
      45deg,
      #EB3349,
      #DD2476 30%,
      rgba(115, 115, 115, 0.34) 60%
    );
  }
</style>
