---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import World from "../components/World.astro";
import MockTracker from "../components/MockTracker.astro";
import Streamers from "../components/Streamers.astro";
import Features from "../components/Features.astro";
---

<script defer>
  function removeNonUserAgentDownloads() {
    const isWindows = window.navigator.userAgent.indexOf("Win") != -1;
    const isMacOS = window.navigator.userAgent.indexOf("Mac") != -1;
    const macDownload = document.getElementById("mac-download");
    const windowsDownload = document.getElementById("windows-download");

    if (!isMacOS) {
      macDownload.remove();
    }
    if (!isWindows) {
      windowsDownload.remove();
    }
  }
  document.addEventListener("DOMContentLoaded", removeNonUserAgentDownloads);
</script>

<Layout title="CFN Tracker">
  <section
    class="flex-wrap intro relative pt-36 pb-28 -mt-20 h-screen flex items-center justify-around"
  >
    <header class="min-h-[300px] mx-8 mb-8">
      <h1 id="catchphrase" class="text-4xl font-bold">
        <span>Track</span>
        <span>your</span>
        <span class="text-gradient">live</span>
        <span>Street</span>
        <span>Fighter</span>
        <span class="text-gradient">6</span>
        <span>ranked</span>
        <span>matches</span>
      </h1>
      <p class="text-lg mt-12">
        CFN Tracker lets you track your matches in realtime as you play them.
      </p>

      {/*  Download */}
      <div class="flex flex-wrap mt-8 justify-center 2xl:justify-start">
        <a
          id="windows-download"
          href="https://github.com/GreenSoap/cfn-tracker/releases/download/v4.0.0/CFN_Tracker_Windows.zip"
          class="link-card mac inline-flex gap-2 justify-between items-center rounded-full px-6 py-4 text-2xl"
        >
          <Icon name="mdi:microsoft-windows" class="w-8 h-8" />
          <span>Download for Windows</span>
        </a>
        <a
          id="mac-download"
          href="https://github.com/GreenSoap/cfn-tracker/releases/download/v4.0.0/CFN_Tracker_macOS.zip"
          class="link-card mac inline-flex gap-2 justify-between items-center rounded-full px-6 py-4 text-2xl"
        >
          <Icon name="mdi:apple" class="w-8 h-8" />
          <span class="w-full">Download for Mac</span>
        </a>

        <span class="text-lg text-center mt-4 ml-8">
          <b id="cfn-tracker-download-count"></b> downloads
        </span>
      </div>
    </header>

    <MockTracker title="Tracking" page="track" spin>
      <dl
        class="flex whitespace-nowrap items-center justify-between w-full pt-3 px-6"
      >
        <div class="flex gap-3 text-xl">
          <dt class="text-xl">CFN</dt>
          <dd class="font-bold">Hjejjjej</dd>
        </div>
        <div class="flex justify-between gap-8">
          <div class="flex gap-3 text-xl">
            <dt class="text-xl">LP</dt>
            <dd class="font-bold">35652</dd>
          </div>
          <div class="flex gap-3 text-xl">
            <dt class="text-xl">MR</dt>
            <dd class="font-bold">1604</dd>
          </div>
        </div>
      </dl>

      <dl class="text-lg whitespace-nowrap mt-2 px-6 w-[420px]">
        <div class="flex justify-between gap-2">
          <div
            class="mb-2 flex flex-1 gap-4 justify-between bg-slate-50 bg-opacity-5 p-3 pb-1 rounded-xl"
          >
            <dt class="tracking-wider font-extralight">Wins</dt>
            <dd class="text-4xl font-semibold">4</dd>
          </div>
          <div
            class="mb-2 flex flex-1 gap-4 justify-between bg-slate-50 bg-opacity-5 p-3 pb-1 rounded-xl"
          >
            <dt class="tracking-wider font-extralight">Losses</dt>
            <dd class="text-4xl font-semibold">2</dd>
          </div>
        </div>
        <div class="flex justify-between gap-2">
          <div
            class="mb-2 flex flex-1 gap-4 justify-between bg-slate-50 bg-opacity-5 p-3 pb-1 rounded-xl"
          >
            <dt class="tracking-wider font-extralight">Win Rate</dt>
            <dd class="text-4xl font-semibold">69%</dd>
          </div>
          <div
            class="mb-2 flex flex-1 gap-4 justify-between bg-slate-50 bg-opacity-5 p-3 pb-1 rounded-xl"
          >
            <dt class="tracking-wider font-extralight">Win Streak</dt>
            <dd class="text-4xl font-semibold">2</dd>
          </div>
        </div>
        <div class="flex justify-between gap-2">
          <div
            class="mb-2 flex flex-1 gap-4 justify-between bg-slate-50 bg-opacity-5 p-3 pb-1 rounded-xl"
          >
            <dt class="tracking-wider font-extralight">LP Gain</dt>
            <dd class="text-4xl font-semibold">+125</dd>
          </div>
          <div
            class="mb-2 flex flex-1 gap-4 justify-between bg-slate-50 bg-opacity-5 p-3 pb-1 rounded-xl"
          >
            <dt class="tracking-wider font-extralight">MR Gain</dt>
            <dd class="text-4xl font-semibold">+12</dd>
          </div>
        </div>
      </dl>
    </MockTracker>
    <World />
  </section>

  <Features />

  <Streamers />

  <iframe
    class="mx-auto"
    src="https://clips.twitch.tv/embed?clip=PeppyCuriousFungusSoBayed-CdfDcX7MJOumXGYq&parent=cfn.williamsjokvist.se"
    frameborder="0"
    allowfullscreen="true"
    scrolling="no"
    height="378"
    width="620"></iframe>

  <div class="fixed bottom-0 w-full py-4 bg-[#131c32] text-center z-50">
    <span class="text-shadow-sm"
      >If you find the app useful, consider
      buying me a</span
    >
    <a href="https://ko-fi.com/greensoap" class="" target="_blank"
      ><span class="text-gradient">coffee</span> ☕</a
    >
  </div>
</Layout>

<script defer>
  const fetchCFNTrackerDownloadCount = async () => {
    const res = await fetch(
      `https://api.github.com/repos/williamsjokvist/cfn-tracker/releases`,
      {
        method: `GET`,
      }
    );

    if (res.status == 200) {
      const releases = await res.json();

      let downloadCount = 0;
      for (const release of releases) {
        for (const asset of release.assets) {
          downloadCount += asset.download_count;
        }
      }
      return downloadCount;
    } else if (res.status == 404) {
      return 0;
    }
  };

  document.addEventListener("DOMContentLoaded", async () => {
    const download_count = await fetchCFNTrackerDownloadCount();

    const cfnTrackerEl = document.getElementById(`cfn-tracker-download-count`);
    cfnTrackerEl.innerText = download_count;
  });
</script>

<style is:global>
  .intro {
    background: linear-gradient(0deg, #000 0%, rgb(25 16 34) 100%);
    min-height: 100vh;
  }
  .intro > *:not(.world) {
    position: relative;
    z-index: 1;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  #catchphrase {
    transform: scale(0.95);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  #catchphrase span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }

  #catchphrase span:nth-child(1) {
    animation: fade-in 1s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(2) {
    animation: fade-in 1s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(3) {
    animation: fade-in 1s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(4) {
    animation: fade-in 1s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(5) {
    animation: fade-in 1s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(6) {
    animation: fade-in 1s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(7) {
    animation: fade-in 1s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(8) {
    animation: fade-in 1s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(9) {
    animation: fade-in 1s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(10) {
    animation: fade-in 1s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(11) {
    animation: fade-in 1s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  #catchphrase span:nth-child(12) {
    animation: fade-in 1s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .link-card {
    backdrop-filter: blur(12px);
    background-image: var(--accent-gradient);
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
  }

  .windows {
    --accent-gradient: linear-gradient(
      45deg,
      rgb(124, 58, 237),
      #627ada 30%,
      rgba(115, 115, 115, 0.125) 60%
    );
  }

  .mac {
    --accent-gradient: linear-gradient(
      45deg,
      #eb3349,
      #dd2476 30%,
      rgba(115, 115, 115, 0.125) 60%
    );
  }

  .text-shadow-sm {
    text-shadow: 1px 1px 2px black;
  }
</style>
