---
---

<footer class="pb-80 pt-48 text-2xl lowercase flex justify-center">
  <p class="text-2xl"><b class="font-extrabold text-[#ff53d9]">CFN</b> Tracker // <a href="https://www.williamsjokvist.se/" target="_blank" class="text-gradient">William</a></p>
</footer>