---
---

<footer class="pb-60 pt-80 text-2xl lowercase flex justify-center">
  <div>
    <p class="text-2xl text-center mb-2"><b class="font-extrabold text-[#ff53d9]">CFN</b> Tracker // <a href="https://www.williamsjokvist.se/" target="_blank" class="text-gradient">William</a></p>
    <small class="uppercase text-sm">CFN Tracker is not affiliated with Capcom Co., Ltd.</small>
  </div>
</footer>