---
---

<footer class="pb-60 pt-80 lowercase flex justify-center text-center">
  <div>
    <small class="text-sm uppercase mb-12 block">CFN Tracker is not affiliated with Capcom Co., Ltd. or Bandai Namco Entertainment</small>
    <small class='text-lg'>by <a href="https://www.williamsjokvist.se/" target="_blank" class="text-gradient">William</a></small>
  </div>
</footer>
