---
import osl from "../../public/streamer-icons/osl.png"
import sheldon from "../../public/streamer-icons/sheldon.png"
import espadah from "../../public/streamer-icons/espadah.png"

import WithTooltip from "./WithTooltip.astro";

const streamers = [{
  url: "https://twitch.tv/onesteplayered",
  img: osl.src,
  name: "OneStepLayered"
}, {
  url: "https://twitch.tv/sheldontwitching",
  img: sheldon.src,
  name: "SheldonTwitching"
},
{
  url: "https://twitch.tv/Espadah",
  img: espadah.src,
  name: "Espadah"
}]
---

<script>
  import { gsap, Power2 } from "../lib/gsap";

  document.addEventListener("astro:page-load", () => {
    gsap.from("#used-by > h2", {
      autoAlpha: 0,
      translateY: 20,
      duration: 3.25,
      ease: Power2.easeInOut,
      stagger: 0.25,
      scrollTrigger: {
        scroller: "main",
        trigger: "#used-by h2",
        start: "center bottom",
        toggleActions: "play none none reverse",
      },
    });

    gsap.from("#used-by-list > *", {
      autoAlpha: 0,
      translateY: 20,
      duration: 3,
      ease: Power2.easeInOut,
      stagger: 0.25,
      scrollTrigger: {
        scroller: document.body,
        trigger: "#used-by h2",
        start: "center bottom",
        toggleActions: "play none none reverse",
      },
    });
  })
</script>

<section id="used-by" class="my-28">
  <h2 class="text-3xl text-center font-bold">Used by</h2>
  <div id="used-by-list" class="flex gap-6 justify-center mt-8">
    {
      streamers.map(s => (
        <WithTooltip label={s.name}>
          <a href={s.url}>
            <img src={s.img} width="50px" height="50px" />
          </a>  
        </WithTooltip>
      ))
    }
  </div>
</section>