.sidebar
  position: relative
  display: grid
  grid-template-rows: 0fr 1fr 0fr
  overflow: visible
  white-space: nowrap
  padding: 8px 0
  user-select: none
  background-color: rgba(3,5,19,0.33)
  color: #fff
  z-index: 50
  padding: 12px 10px
  transition: width 250ms ease-out
  > nav
    margin-top: 20px
    width: 100%