---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>CFN Tracker</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #ffb5f1 30%,
      rgba(0, 0, 0, 0.75) 60%
    );
  }
  html {
  }

  body {
    font-family: "Ubuntu", system-ui, sans-serif;
    background: linear-gradient(0deg, black 0%, rgb(54, 6, 102) 100%);
    background-attachment: fixed;
    min-height: 100%;
    color: #fff;
    width: 100%;
  }
</style>
