---
import Icon from "astro-icon"
---

<a
  href="https://github.com/williamsjokvist/cfn-tracker/releases/latest/download/cfn-tracker-windows-amd64.zip"
  class="link-card windows my-1 inline-flex gap-2 justify-between items-center rounded-full px-6 py-4 text-2xl"
>
  <Icon name="mdi:microsoft-windows" class="w-8 h-8" />
  <span>Download</span>
</a>

<style lang="sass">
  .link-card
    text-decoration: none
    backdrop-filter: blur(12px)
    background-image: var(--accent-gradient)
    background-size: 400%
    background-position: 100%
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1)

  .link-card:is(:hover, :focus-within)
    background-position: 0

  .windows
    --accent-gradient: linear-gradient(45deg,rgb(124, 58, 237), #627ada 30%, rgba(115, 115, 115, 0.125) 60%)
</style>
